<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Zoom">
		<title>Zoom</title>
		<centered>1</centered>
		<size>404,258</size>
		<help>Visualiza o tamque separadamente com seu status atual</help>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<size>330,293</size>
					<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
						<bitmap>C:\Users\LuisPaulo\Documents\code\prj\ImagePanel\tanque_sep.png</bitmap>
						<pos>0,0</pos>
						<size>264,272</size>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<size>264,232</size>
					<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
						<label>Tanque X</label>
						<pos>16,8</pos>
						<size>232,264</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Líquido Atual: Gasolina</label>
						<pos>40,32</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
						<label>Quantidade: 10 Litros</label>
						<pos>40,56</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
						<label>Capacidade: 100 Litros</label>
						<pos>40,80</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
						<label>Válvula de entrada: Aberta</label>
						<pos>40,104</pos>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
						<label>Válvula de saída: Fechada</label>
						<pos>40,128</pos>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
